# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://<db_user>:<db_password>@cluster0.ue1tazd.mongodb.net/UnityMap?appName=Cluster0
DB_NAME=UnityMap
